

# Database configuration(s)
# Add additional database connection subsets to the "databases" set
#

databases:
    connection_name:
        name: database
        host: hostname
        user: username
        pass: password
